absl-py
aiofiles
aioice
aiortc
albucore
albumentations
altair
annotated-types
anyio
astor
astunparse
attrs
av
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
coloredlogs
common
contourpy
cryptography
cycler
Cython
dash
dash-core-components
dash-html-components
dash-table
decorator
dlib
dnspython
easyocr
face-recognition
face_recognition_models
fastapi
ffmpy
filelock
filetype
fire
Flask
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-crc32c
google-pasta
gradio
gradio_client
grpcio
gTTS
h11
h5py
httpcore
httpx
huggingface
huggingface-hub
humanfriendly
idna
ifaddr
imageio
imgaug
importlib_metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
lazy_loader
libclang
lmdb
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
namex
narwhals
nest-asyncio
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
onnx
onnxruntime
onnxruntime-gpu
onnxslim
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
optree
orjson
packaging
paddleocr
paddlepaddle
pandas
pillow
playsound
plotly
protobuf
psutil
psycopg2-binary
py-cpuinfo
pyarrow
pycairo
pyclipper
pycocotools
pycparser
pydantic
pydantic_core
pydeck
pydub
pyee
Pygments
PyGObject
pylibsrtp
PyMuPDF
pyOpenSSL
pyparsing
PyPDF2
PyQRCode
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
python-multipart
pyttsx3
pytz
PyYAML
qrcode
RapidFuzz
referencing
regex
requests
requests-toolbelt
retrying
rich
roboflow
rpds-py
ruff
safehttpx
safetensors
scikit-image
scikit-learn
scipy
seaborn
semantic-version
setuptools
shapely
shellingham
six
smmap
sniffio
soupsieve
starlette
streamlit
streamlit-option-menu
streamlit-webrtc
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tesseract
tf_keras
thop
threadpoolctl
tifffile
tokenizers
toml
tomli
tomlkit
torch
torchvision
tornado
tqdm
transformers
triton
typer
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
watchdog
websockets
Werkzeug
wheel
wrapt
zipp

